* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "Noto Serif TC", serif;
}
div#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  form.search {
    background-color: #f6eabe;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 60vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    position: relative;
    div.addressTags {
      position: absolute;
      left: 7rem;
      top: 2rem;
      label {
        font-size: 1.25rem;
        padding-right: 3.5rem;
      }
      input#address {
        width: 25rem;
        border: #c6c6c6 solid 2px;
        border-radius: 0.25rem;
        height: 2rem;
        font-size: 1.25rem;
        padding: 0 0.25rem;
      }
    }
    div.conditionTags {
      position: absolute;
      left: 7rem;
      top: 5rem;
      label {
        font-size: 1.25rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
      }
      button {
        font-size: 1.1rem;
        border: #c6c6c6 solid 2px;
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
        margin-right: 0.5rem;
        color: #8b8b8b;
        background-color: #ffffff;
        &:hover {
          background-color: #eb9c23;
          color: white;
          border: #eb9c23 solid 2px;
          cursor: pointer;
        }
      }
    }
    button.submit {
      position: absolute;
      right: 2rem;
      bottom: 1rem;
      font-size: 1rem;
      width: 3.5rem;
      padding: 0.1rem;
      border: #c6c6c6 solid 2px;
      border-radius: 0.5rem;
      color: #8b8b8b;
      background-color: white;
      &:hover {
        background-color: #eb9c23;
        color: white;
        border: #eb9c23 solid 2px;
        cursor: pointer;
      }
    }
  }

  div.whole {
    width: 60vw;
    display: flex;
    align-items: flex-start;
  }
  div.twoSide {
    width: 60vw;
    display: flex;
    div.left {
      width: 55%;
      padding-right: 1rem;
    }
    div.right {
      width: 45%;
    }
  }

  div.card {
    div.title {
      display: flex;
      h3 {
        color: #eb9c23;
        font-size: 1.5rem;
        font-weight: 600;
      }
      p {
        padding-top: 0.55rem;
        padding-left: 0.7rem;
        color: #ad91a3;
      }
    }
    div.table {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.5rem;
    }
    width: 100%;
    border: 4px solid #f6d7a7;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 1.25rem;
  }
  div#environment {
    table {
      tr {
        td {
          text-align: center;
          padding: 0.5rem 2rem;
        }
      }
    }
  }
  div#eco {
    table {
      tr {
        td {
          text-align: center;
          padding: 0.5rem 1.5rem;
        }
      }
    }
  }
  div#safety {
    table {
      tr {
        td {
          text-align: center;
          padding: 0.5rem 1.5rem;
        }
      }
    }
  }
  div#map {
    iframe {
      width: 100%;
      height: 58vh;
      border-radius: 2rem;
      border: 0;
    }
    padding: 0;
  }
}
